version: '3'
services:
  rocketchat:
    image: 'rocketchat/rocket.chat:${ROCKETCHAT_VERSION}'
    restart: unless-stopped
    environment:
      - 'PORT=${PORT}'
      - 'ROOT_URL=${ROOT_URL}'
      - 'MONGO_URL=${MONGO_URL}'
      - 'MONGO_OPLOG_URL=${MONGO_OPLOG_URL}'
      - 'INSTANCE_IP=${INSTANCE_IP}'
    ports:
      - '${PORT}:${PORT}'
    # Additional host if required
    extra_hosts:
      - 'chat-alpha:${INSTANCE_IP_ALPHA}'
      - 'chat-bravo:${INSTANCE_IP_BRAVO}'
      - 'chat-charlie:${INSTANCE_IP_CHARLIE}'
      - 'chat-delta:${INSTANCE_IP_DELTA}'
